@{
    ViewData["Title"] = "About Salles Web";
}

<div class="text-center">
<h1>@ViewData["Title"]</h1>
<h4>@ViewData["Message"]</h4>
<p><Strong>Developed by @ViewData["developer"]</Strong> </p>
<p><strong>My GitHub <a href "https://github.com/Abnner13/SalesWebMvc">Abnner13</a>"</strong></p>
</div>
